/*
////////////
////FORMS//
//////////
*/


	
	.cle-for {
	}
		.cle-for .for-title {
		}
		.cle-for .for-item {
			margin-top: 1.6em;
		}
			.cle-for .for-item .item-element {
				width: 100%;
				height: 3.2em;
				display: block;
				padding: 0.8em;
				font-size: 1.6em;
				line-height: 150%;
				font-family: sans-serif;
				text-decoration: none;
				color: #161616;
				border: 0.2em blue solid;
				font-weight: bold;
				background-color: white;
			}
			.cle-for .for-item .item-element:hover, 
			.cle-for .for-item .item-element:focus {
				border-color: #161616;
				text-decoration: none;
			}
			.cle-for .for-item textarea.item-element {
				height: 4.8em;
			}