/*
/////////////////
////CLEAR GRID//
///////////////
*/

	/*///////////
	12 COLUMNS//
	/////////*/

	.cle-mod.mod-content.content-a, 
	.cle-article .article-title, 
	#cle-logo, 
	.clear {
		display: inline-block;
		margin-left: 1.5%;
		margin-right: 1.5%;
		width: 97%;
	}

	/*///////////
	11 COLUMNS//
	/////////*/

	.cle-mod.mod-content.content-b, 
	.clear {
		display: inline-block;
		margin-left: 1.5%;
		margin-right: 1.5%;
		width: 88.66%;
	}

	/*///////////
	10 COLUMNS//
	/////////*/

	.cle-mod.mod-content.content-c, 
	.clear {
		display: inline-block;
		margin-left: 1.5%;
		margin-right: 1.5%;
		width: 80.33%;
	}

	/*//////////
	9 COLUMNS//
	////////*/

	.cle-mod.mod-content.content-d, 
	.clear {
		display: inline-block;
		margin-left: 1.5%;
		margin-right: 1.5%;
		width: 72%;
	}

	/*//////////
	8 COLUMNS//
	////////*/

	.cle-mod.mod-content.content-e, 
	.clear {
		display: inline-block;
		margin-left: 1.5%;
		margin-right: 1.5%;
		width: 63.66%;
	}

	/*//////////
	7 COLUMNS//
	////////*/

	.cle-mod.mod-content.content-f, 
	.clear {
		display: inline-block;
		margin-left: 1.5%;
		margin-right: 1.5%;
		width: 55.33%;
	}

	/*//////////
	6 COLUMNS//
	////////*/

	.cle-mod.mod-content.content-g, 
	.clear {
		display: inline-block;
		margin-left: 1.5%;
		margin-right: 1.5%;
		width: 47%;
	}

	/*//////////
	5 COLUMNS//
	////////*/

	.cle-mod.mod-content.content-h, 
	.clear {
		display: inline-block;
		margin-left: 1.5%;
		margin-right: 1.5%;
		width: 38.66%;
	}

	/*//////////
	4 COLUMNS//
	////////*/

	.cle-mod.mod-content.content-i, 
	.cle-section .section-subtitle,
	.clear {
		display: inline-block;
		margin-left: 1.5%;
		margin-right: 1.5%;
		width: 30.33%;
	}

	/*//////////
	3 COLUMNS//
	////////*/

	.cle-mod.mod-content.content-j, 
	.clear {
		display: inline-block;
		margin-left: 1.5%;
		margin-right: 1.5%;
		width: 22%;
	}

	/*//////////
	2 COLUMNS//
	////////*/

	.cle-mod.mod-content.content-k, 
	.cle-section .section-title,
	.clear {
		display: inline-block;
		margin-left: 1.5%;
		margin-right: 1.5%;
		width: 13.66%;
	}

	/*/////////
	1 COLUMN//
	///////*/

	.cle-mod.mod-content.content-l, 
	.clear {
		display: inline-block;
		margin-left: 1.5%;
		margin-right: 1.5%;
		width: 5.33%;
	}

	/*/////////
	0 COLUMN//
	///////*/

	.clear {
		display: inline-block;
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
