/*
/////////////////
////STRUCTURES//
///////////////
*/

	#just {
		text-align: center;
		font-size: 6px;
	}
	body {
		font-size: 10px;
	}
		hr {
			border: none;
			height: 0.1em;
			color: transparent;
			background-color: #e7e7e7;
		}
		.just-wrapper {
			padding: 1.6rem 3.2rem 3.2rem;
			max-width: 1600px;
			text-align: left;
		}
			.just-wrapper .just-wrapper {
				padding: 0;
			}

@media (min-width: 360px) {
	#just {
		font-size: 10px;
	}
	body {
		font-size: 10px;
	}
}

@media (min-width: 640px) {
	#just {
		font-size: 14px;
	}
	body {
		font-size: 10px;
	}
}

@media (min-width: 640px) {
	#just {
		font-size: 16px;
	}
	body {
		font-size: 12px;
	}
}

@media (min-width: 960px) {
	#just {
		font-size: 14px;
	}
	body {
		font-size: 12px;
	}
		#just-navigation {
			text-align: right;
		}
}

@media (min-width: 1440px) {
	#just {
		font-size: 18px;
	}
	body {
		font-size: 12px;
	}
		#just-navigation {
			text-align: right;
		}
}