/*
/////////////////
////STRUCTURES//
///////////////
*/

	#just {
		text-align: center;
		font-size: 18px;
	}
	body {
		font-size: 14px;
	}
		hr {
			border: none;
			height: 0.1rem;
			color: currentColor;
			background-color: currentColor;
		}
		.just-wrapper {
			padding: 1.6rem 4.8rem 3.2rem;
			max-width: 1440px;
			text-align: left;
		}
			.just-wrapper .just-wrapper {
				padding: 0;
			}